<% if logged_in? %>
  <div><h1 class="text-center">Welcome Back, <%= current_user.first_name %>!</h1></div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <h2 class="text-center">Your Groups</h2>
      <% if @groups.blank? %>
        <p class="text-center">You haven't joined any groups yet.</p>
      <% else %>
        <ul class="list-group">
          <% @groups.each do |group| %>
            <li class="list-group-item"><%= link_to group.name, group %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="text-center p-3">
        <%= link_to 'Join A Group', groups_path, :class => 'btn btn-primary m-1' %>
        <%= link_to 'Create New Group', new_group_path, :class => 'btn btn-primary m-1' %>
      </div>
    </div>

    <div class="col-lg-8 offset-lg-1">
      <h2 class="text-center">Your Expenses</h2>
      <% if @expenses.blank? %>
        <p class="text-center">You currently have no expenses.</p>
      <% else %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Expense</th>
              <th>Total</th>
              <th>Group</th>
              <th>Date</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <% @expenses.each do |expense| %>
              <tr>
                <td>expense.title</td>
                <td>expense.total</td>
                <td>expense.group</td>
                <td>expense.date</td>
                <td>expense.category</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">Welcome to PayBack</h1>
      <p class="text-center">Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
